.dropdown-wrapper {
    transform: translateX(181px);
    .dropdown-btn{ 
        font-size: 27px;
        border: none;
        background: #39eba7;
        color: black; 
        outline: none;
    }
}