.footer-wrapper {
    border: none;
    width: 100vw;
    // position: absolute;
    // bottom:0;
    // height: 45px;

    .footer-link-wrapper {
        display: flex;
        justify-content: space-evenly;
        font-size: 12px;
        background-color: rgb(57, 235, 167);
        padding: 14px;

        a{
            text-decoration: none;
            border: transparent;
            color: black;


            &:hover {
                
                
            }

        }
    }

    .copyright-wrapper {
        display: flex;
        justify-content: center;
        background-color: rgb(57, 235, 167);
    }
}