.nav-wrapper {
    border: none;
    width: 100%;
    font-family: 'Fugaz One';
    height: 250px;


    .nav-link-wrapper {
        font-size: 22px;
        background-color: #39eba7;
        padding: 24px;
        padding-bottom: 0px;

        
        


        .nav-links {
            display: flex;
            justify-content: space-evenly;
            transform: translateY(-80px);
            transition: 0.5s ease-in-out;

        }

        

        a{
            text-decoration: none;
            outline: none;
            border: transparent;
            color: black;
            transition: 0.5s ease-in-out;

            

            
            &:hover {
                font-size: 28px;
                transition: 0.5s ease-in-out;
            }

        }

            img {
                &:hover {
                    cursor: pointer;
                }
            }

        }
    }
